.logoSpinner {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(142, 142, 253, 0.7));
}
.path {
    width: 100%;
    height: 100%;
    position: relative;
}
.polygon {
    box-sizing: content-box;
    width: 23px;
    height: 40px;
    display: -webkit-box;
    z-index: 10000;
    top: 50%;
    left: 50%;
    clip-path: polygon(0 0,100% 28%, 100% 100%,0 72%);
    transform: translate(-50%,-50%);
    opacity: 0;
}
.polygon0 {
    background: rgb(49, 49, 184);
    position: absolute;
    z-index: 10003;
    animation: animate1 3s ease-in-out;
    animation-iteration-count: infinite;
    margin: 0px 20px 20px 0px;
}
.polygon1 {
    background: rgb(160, 226, 248);
    position: absolute;
    z-index: 10002;
    animation: animate2 3s ease-in-out;
    animation-iteration-count: infinite;
    margin: 20px 0px 0px 10px;
}
.polygon2 {
    background: rgb(255, 255, 113);
    position: absolute;
    z-index: 10001;
    animation: animate3 3s ease-in-out;
    animation-iteration-count: infinite;
    margin: 0px 0px 20px 20px;
}

@keyframes animate1 {
    0% {
        opacity: 0;
        transform: scale(1) translate(-50%,-50%);
    }
    20%, 
    40%, 
    80% {
        opacity: 1;
        transform: scale(1.5) translate(-50%,-50%);
    }
    100% {
        opacity: 0;
    }
}


@keyframes animate2 {
    0%, 
    20% {
        opacity: 0;
        transform: scale(1) translate(-50%,-50%);
    }
    40%,
    80% {
        opacity: 1;
        transform: scale(1.5) translate(-50%,-50%);
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate3 {
    0%, 
    20%,
    40% {
        opacity: 0;
        transform: scale(1) translate(-50%,-50%);
    }
    60%,
    80% {
        opacity: 1;
        transform: scale(1.5) translate(-50%,-50%);
    }
    100% {
        opacity: 0;
    }
}